openapi: 3.0.0
info:
  title: Cloudmesh {{all.service}} Analytics  Services
  description: Cloudmesh {{all.service}} Scikit-Learn Service
  license:
    name: Apache 2.0
  version: 4.1.3

servers:
  - url: {{all.header.server_url}}

paths:
  /file/upload:
    post:
      summary: uploading file to the server
      operationId: cloudmesh.file.upload
      requestBody:
        description: the file uploaded by the user
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: upload succeed
          content:
              application/json:
                schema:
                  type: object
                  properties:
                    file_name:
                      type: string
        default:
          description: incompatible file format
          content:
            application/json:
              schema:
                  type: object
                  properties:
                    error_message:
                      type: string
  /file/list:
    get:
      summary: list all uploaded files
      operationId:  cloudmesh.file.list
      responses:
        '200':
          description: upload succeed
        default:
          description: incompatible file format
          content:
            application/json:
              schema:
                  type: object
                  properties:
                    error_message:
                      type: string

  /file/read/{file_name}:
    get:
      summary: read file content
      operationId: cloudmesh.file.read
      parameters:
        - in: path
          name: file_name   # Note the name is the same as in the path
          required: true
          schema:
            type: string
          description: The file name to be read
      responses:
        '200':
          description: succeed
        default:
          description: incompatible file format
          content:
            application/json:
              schema:
                  type: object
                  properties:
                    error_message:
                      type: string

{%- for i, f in all.functions.items() %}
  /{{f.name}}/:
      {{f.request_method}}: # The method should be decided at running. It depends on the type bound to this name.
        summary: {{f.doc_string}} # This is the doc retrieved from signatures
        operationId: cloudmesh.{{f.operation_id}}
        requestBody: # Request body depends on the signature of the class
          content:
            application/json:
              schema:
                type: object
                properties:
                  paras:
                    type: object
                    additionalProperties:
                      {}
        responses:
          '200':
            description: success
{% endfor %}