{{class.class_name}}
==========================================

{%- for i, class in all.items()%}
analytics {{class.class_name}} {%- for p, type in class.constructor.items() %}[--{{p}}=VALUE] {% endfor %}
{%- for m, paras in class.members.items() %}
analytics {{class.class_name}} {{m}} {%- for p, type in paras.items()%} [--{{p}}=VALUE] {% endfor %}
{%- endfor %}
{% endfor %}

