{
    "cwd.cloud": "",
    "cloud": {
        "azure": {
            "ip": ""
        },
        "chameleon": {
            "ip": ""
        },
        "localhost": {
            "ip": "localhost:{{all.PORT}}/cloudmesh-analytics"
        }
    }
}