import json
import requests

def run_command(arguments, root_url):
    {%- for i, class in all.items()%}
    if arguments.{{class.class_name}} and ({% for p, type in class.constructor.items() %} arguments.{{p}} or {% endfor %} False):
        url = root_url + '/{{class.class_name}}'
        payload = {'init': {}}
        {% for p, type in class.constructor.items() %}
        if arguments.{{p}} is not None:
            payload['{{p}}']= arguments.{{p}}
        {% endfor %}
        r = requests.post(root_url, data=json.dumps(payload))
        return r.text
    
    {% for m, paras in class.members.items() %}
    if arguments.{{class.class_name}} and ({% for p, type in paras.items()%} arguments.{{p}} or {% endfor %}False):
        url = root_url + '/{{class.class_name}}' + '/{{m}}'
        payload = {'paras': {}}
        {% for p, type in paras.items()%}
        if arguments.{{p}} is not None:
            payload['{{p}}']= arguments.{{p}}
        {% endfor %}
        r = requests.post(url, data=json.dumps(payload))
        return r.text
    {% endfor %}

    {% endfor %} 